<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Table Tool</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
</head>
<body>
  <div class="header">
    <h1>Table Tool</h1>
  </div>
  <div class="container">
      <div class="form-signin">
        <form id="reg-form">
          <h2 class="form-signin-heading">Пожалуйста, введите данные для поиска</h2>
          <label for="inputname" class="sr-only">Фамилия</label>
          <input type="name" name="name" id="inputname" class="form-control" placeholder="Фамилия" required autofocus>

          <label for="inputSecondName" class="sr-only">Имя</label>
          <input type="name" name="second_name" id="inputSecondName" class="form-control" placeholder="Имя" required>
          <label for="inputThirdName" class="sr-only">Отчество</label>
          <input type="name" name="third_name" id="inputThirdName" class="form-control" placeholder="Отчество" required>

          <label for="inputcol_vo" class="sr-only">Кол-во набираемых мест</label>
          <input type="name" name="col_vo" id="inputcol_vo" class="form-control" placeholder="Кол-во набираемых мест" required>

        </form>
        <button class="btn btn-lg btn-primary btn-block" id="post-btn" onclick="send_form()">Найти</button>
      </div>
    </div>

    <script>
    function send_form() {
      $.ajax({
          type:    "POST",
          url:     "/api/table_search",
          data:    $("#reg-form").serialize(),
          success: function(data) {
                if (data['status'] != 'ok') {
                  alert(data['message'])
                } else {
                  alert('good')
                  window.location.replace('/')
                }
          },
          error:   function(jqXHR, textStatus, errorThrown) {
            alert("Error, status = " + textStatus + ", " +
                  "error thrown: " + errorThrown
            );
          }
      });
    }
    </script>
</body>
</html>
