
<html>
<head>
	<title>Авторизация пользователей</title>
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<form action="good.html" method="post">
	<div class="row">
		<label for="name"></label>
		<input type="text" class="text" name="name" placeholder="Ваше Имя" id="name" /> 
	</div>

	<div class="row">
		<label for="surname"></label>
		<input type="text" class="text" name="surname" placeholder="Ваша Фамилия" id="surname" />
	</div>


	<div class="row">
		<label for="login"></label>
		<input type="text" class="text" name="login" placeholder="Логин" id="login" />
	</div>

	<div class="row">
		<label for="password"></label>
		<input type="password" class="text" name="password" placeholder="Пароль" id="password" />
	</div>

	<div class="row">
		<input  type="submit" name="submit"  id="btn-submit"  value="Войти"     />

	</div>
</form>
</body>
</html>
