<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Sign in - SimpleTaskTracker</title>
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
    integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="static/styles.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous">
  </script>
</head>
<body>
  <div class="header">
    <h1>SimpleTaskTracker</h1>
    
  </div>
  <div class="container">
      <div class="form-signin">
        <form id="reg-form">
          <h2 class="form-signin-heading">Пожалуйста, авторизируйтесь</h2>
          <label for="inputEmail" class="sr-only">Логин</label>
          <input type="email" name="login" id="inputEmail" class="form-control" placeholder="Логин" required autofocus>
          
          <label for="inputPassword" class="sr-only">Пароль</label>
          <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Пароль" required>

          <label for="inputPassword" class="sr-only">Повторите Пароль</label>
          <input type="password" name="confirm_password" id="inputPassword" class="form-control" placeholder="Повторите Пароль" required>
          
          <select name="profile">
            <option value="ingener">Инженерный</option>
            <option value="it">IT</option>
            <option value="social">Социально-экономический</option>
            <option value="medical">Медицинский</option>
            <option value="academ">Академический</option>
          </select>
        </form>
        <button class="btn btn-lg btn-primary btn-block" id="post-btn" onclick="add_user()">Зарегистрироваться</button>
        <button class="btn btn-lg btn-primary btn-info" id="post-btn_1" onclick="location.href='/';">Войти</button>
        
      </div>

    </div> <!-- /container -->

    <div id="users_list" style="margin-top: 20px;">
    </div>

    <script>
     function add_user() {
      $.post({
          url:     "/api/add_user",
          data:    $("#reg-form").serialize(),
          success: function(data) {
            if (data['status'] != 'ok') {
            } else {
              
            }
          },
          error:   function(jqXHR, textStatus, errorThrown) {
                alert("Error, status = " + textStatus + ", " +
                      "error thrown: " + errorThrown
                );
          }
      });
    }
    $( document ).ready(function() {
      $.get({
          url:     "/api/users",
          data:    "",
          success: function(data) {
              for (i in data["users"]) {
                user = data["users"][i]
              }
          },
          error:   function(jqXHR, textStatus, errorThrown) {
                alert("Error, status = " + textStatus + ", " +
                      "error thrown: " + errorThrown
                );
          }
      });
    });
    </script>
</body>
</html>